/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;600;700&family=Open+Sans:wght@500;600;700;800&display=swap');

:root {
    --poppins: 'Poppins', sans-serif;
    --orange: #FF9600;
    --plex: 'IBM Plex Sans', sans-serif;
    --open: 'Open Sans', sans-serif;
    --ligt_green: #c8d4c3;
    --dark_green: #303d2c;
    --grey: #686868;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body,
html {
    width: 100vw;
    overflow-x: hidden;
    /* overflow: hidden; */
    /* background-color: aquamarine; */
}


/* NAV 1 STYLING STARTS HERE  */

#nav1 {
    background-color: #e0e4ec;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav_logo {
    /* font-family: var(--open); */
    color: var(--dark_green);
    padding: 1% 8%;
    font-weight: 700;
    font-size: 1.8rem;
    /* text-decoration: underline; */
    cursor: pointer;
    margin-bottom: 0;

}

.nav1_Right {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    gap: 10%;
}

.nav1_right_box {
    display: flex;
    gap: 8%;
    justify-content: center;
    align-items: center;
}

.nav1_right_box i {
    font-size: 30px;
    color: var(--dark_green);
}


.nav1_right_box p {
    /* background-color: #69707c; */
    width: 10vw;
    margin: 0;
    font-family: var(--poppins);
    font-weight: 600;
    font-size: 13px;
}

.nav2 {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 0;
    /* background-color: #FF9600; */
}


.nav2 ul {
    display: flex;
    background-color: transparent;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    gap: 2%;
    padding-right: 10%;
    box-sizing: border-box;
    margin-bottom: 0;
    position: relative;
}

nav2_ul::after {
    content: "heelo";
    background-color: #FF9600;
    position: absolute;
    width: 100%;
    height: 100%;
}



.nav2_listItem {
    color: var(--dark_green);
    font-size: large;
    text-decoration: overline;
    list-style-type: none;
    text-decoration: none;
    padding: 1% 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: 400;
    /* font-family: var(--poppins); */
    cursor: pointer;
}

.nav2_listItem:hover {
    /* color: #1A73E8; */
    color: #303d2c;
    text-decoration: overline;
    transition: all ease 1s;

}

.nav2_button {
    border: none;
    font-family: var(--open);
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: var(--dark_green);
    color: aliceblue;
    text-transform: uppercase;
}

#nav2_listItem3 {
    position: relative;
}


/* NAV BAR 2 STYLING  ENDS  HERE ANS SECTION 1 STSARTS HERE  */


.section1 {
    width: 100vw;
    overflow: hidden;
    background: url("images/section\ 1.jpg") no-repeat top;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section1_text {
    max-width: 50%;
    margin-top: 15%;
}

.section1_text_h1 {
    font-size: 4vw;
    color: aliceblue;
}

.section1Button {
    padding: 1vw 1vw;
    border: none;
    border-radius: 30px;
    background-color: #303d2c;
    color: aliceblue;
    margin-bottom: 5%;
    margin-top: 5%;
    text-transform: uppercase;

}

.rupesh_da_quote {
    color: aliceblue;
    font-size: larger;
}


/* SECTION 2 STYLING STARTS HERE  */
.section2 {
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 5%;
    margin: 5% 5%;


}

.section2_box {
    display: flex;
    align-items: center;
    gap: 7%;
    width: 33%;
    padding: 0 5%;
    position: relative;
    /* text-align: right; */
}

.section2_text_part {
    display: flex;
    flex-direction: column;
}

.section2_text_part a {
    /* position: absolute; */
    /* bottom: 0; */
    text-decoration: none;
    /* background-color: #FF9600; */
}

.headding {
    font-size: 2.5vw;
}

.description {
    font-size: large;
}

.section2_box_image {
    width: 7vw;
}

#section2_middle_box {
    border-left: 1px solid var(--dark_green);
    border-right: 1px solid var(--dark_green);

}


/* SECTION2 STYNING ENDS AND SECTION 3 STYLING STARTS HERE  */

.section3 {
    width: 80%;
    display: flex;
    margin: auto;
    gap: 2%;
    background-color: #dee5db;
    padding: 6% 0;
}

#section3_box1 {
    background: url(images/repair\ 2.png) no-repeat center;
    background-size: cover;
    height: 40vh;
    width: 50vw;

}

#section3_box2 {
    background: url(images/repair3.jpg) no-repeat center;
    background-size: cover;
    height: 40vh;
    width: 50vw;


}

.section3_box_textPart {
    background-color: #fff;
    /* clip-path: polygon(0 0, 84% 0, 62% 54%, 44% 100%, 0 100%, 0% 50%); */
    clip-path: polygon(0 0, 58% 0, 43% 55%, 31% 100%, 0 100%, 0% 50%);
    padding: 2% 4%;
    width: auto;
    height: 100%;


}

.section3_box_textPart h1 {
    font-size: 2.1vw;
}

.section3_box_textPart_paragraph {
    width: 40%;
    margin: 5% 0;
    font-size: 1.2vw;
}

.section3_box_textPart_button {
    padding: 2% 5%;
    background-color: var(--dark_green);
    border: none;
    border-radius: 30px;
    color: aliceblue;
    margin-top: 3%;
}


/* SECTION3 STYNING ENDS AND SECTION 4 STYLING STARTS HERE  */


.section4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: auto;
    gap: 1vw;
    padding-top: 10%;
    padding-bottom: 20%;
}


/* SECTION4 STYNING ENDS AND SECTION 5 STYLING STARTS HERE  */


.section5 {
    background-color: var(--dark_green);
    position: relative;
    width: 100vw;

    height: 60vh;


}

.section5_hero_box {
    max-height: 100vh;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto auto;
    margin: auto;
    /* background-color: aqua; */
    position: absolute;
    top: -40%;
    left: calc(30%/2);

}

.section5_box {
    background-color: #fff;
    padding: 5% 5%;
    border: 1px solid #BCC2CF;
}

.section5_box_icon {
    width: 20%;
    margin-bottom: 5%;
}

.section5_box_headdingText {
    text-transform: uppercase;
    font-size: 1.2vw;
    font-weight: bolder;
}

.section5_box_paragraphText {
    width: 90%;
    font-size: 1vw;
    margin-bottom: 10%;
    margin-top: 7%;
    line-height: 1.6;
    /* font-weight: bold; */

}

.section5_box_viewOffers {
    text-transform: uppercase;
    text-decoration: none;
    font-size: .9vw;
    color: #303d2c;
    padding-bottom: 7%;
    cursor: pointer;
}

/* SECTION 5 STYNING ENDS AND SECTION 6 STYLING STARTS HERE  */
.section6 {
    background-color: var(--dark_green);
}

.section6_headding {
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    font-size: 2.7 vw;
    margin-bottom: 5%;
}

.section6_animation_wheel {
    width: 60px;

    animation: rotation 5s linear infinite;
}

@keyframes rotation {

    100% {
        transform: rotate(360deg);
        transition: all ease;
    }

}

/* @keyframes mymove {
  50% {transform: rotate(180deg);}
} */

.section6_hero_box {
    max-height: 100vh;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto auto;
    margin: auto;


}

.section6_box {
    /* background-color: #fff; */
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;

    color: aliceblue;
}

/* .section6_box:hover{
 border: 1px solid aliceblue;
 transition: all ease 0.5s;
 text-align: center;
 padding:  5% 0;
} */


/* SECTION 6 STYNING ENDS AND SECTION 7 STYLING STARTS HERE  */
.section7_hero_box {
    width: 90%;
    margin: auto;
    position: relative;
    margin-bottom: 5vw;
    margin-top: 5vw;
}

.section7_hero_box_image {
    clip-path: polygon(0 0, 100% 0, 92% 50%, 85% 100%, 0 100%, 0% 50%);
    width: 70%;
    height: 40vw;

}

.section7_hero_box_textPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8%;
    right: 5%;
    clip-path: polygon(33% 0, 100% 0, 100% 56%, 100% 99%, 11% 100%, 22% 52%);
    background-color: var(--dark_green);
    color: aliceblue;
    height: 80%;
    width: 50%;
    transform: rotate(0.6deg);
  
}

.section7_hero_box_textPart_headding {
    padding-left: 20%;
    /* text-align: center; */
    text-align: left;
    font-size: 3.5vw;
}
.section7_hero_box_textPart_paragraph{
    padding-left: 22%;
    width: 80%;
    padding-top: 3% ;
    font-size: 1.5vw;
    line-height:2.3vw;
    font-weight: 300;
}
.read_more{
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
    text-align: left;
    padding-right: 20%;

}

.number_countPart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 5vw;
    font-family: var(--open);
}
.number_countPart_box_number{
    font-size: 5vw;
    font-weight: 900;

}
.number_countPart_box_number span{
text-align: left;
}

.number_countPart_box_p{
    font-size: 1.5vw;
    font-weight: 900;
    color: var(--grey);
}